@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Gửi lại email xác nhận";
}

<div class="modal" style="display: flex; position: static; background: transparent; padding: 40px 0;">
    <div class="modal-content">
        <div class="modal-title">Gửi lại email xác nhận</div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="input-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" type="email" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn">Gửi lại</button>
            <div class="switch-link">
                <a asp-page="./Login">Quay lại đăng nhập</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
